.footer {
    padding: 30px 0;
    background-color: white;
}

.logo {
    max-width: 100%;
    height: auto;
}

.list {
    padding: 0;
}

.list a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.list a:hover {
    text-decoration: underline;
}

.textCenter {
    font-size: 14px;
}

@media (max-width: 767px) {
    .footer {
        text-align: center;
    }

    .list {
        text-align: center;
        margin-top: 15px;
    }

    .list li {
        margin-bottom: 10px;
    }

    .textCenter {
        margin-top: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .list {
        text-align: left;
        margin-top: 15px;
    }
}

/* You can add more media queries for larger screens if needed */